.article-tile {
  display: flex;
  padding: 10px 25px 10px 10px;
}

.article-tile.selected {
  background-color: cornsilk;
}

.article-tile-image {
  flex: 0 0 30%;
  max-height: 125px;
  max-width: 30%;
}

.article-tile-image > img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.article-tile-info {
  flex: 0 0 70%;
  margin-left: 15px;
  max-width: 70%;
}

.article-tile-info > h3 {
  margin: 0 0 15px;
  max-width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-tile-info > p {
  max-height: 3.4em;
  overflow: hidden;
}

.article-tile-comments {
  color: #085394;
  text-decoration: underline;
}
