.app {
    display: flex;
    padding-right: 50px;
}

.article-list {
    flex: 0 0 30%;
    max-width: 30%;
}

.article {
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: 50px;
}

a {
    color: #085394;
    cursor: pointer;
    text-decoration: underline;
}